/*
 * Copyright(c)2008 Internet Archive. Software license AGPL version 3.
 */

.opds-header {
    margin: auto;
    padding: 10px;
    text-align: center;
}

.opds-logo {
    border: 0;
}

.opds-catalog-header {
    font-family: "arial";
}

.opds-search {
    font-family: "arial";
}

.opds-entry-list {
    list-style: none;
}

.opds-footer {
    font-size: 0.85em;
}